*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
}
#card{
    width: 300px;
    height: 600px;
    border-radius: 30px;
    background-color: #fff;
    text-align: center;
}

#card h1{
    font-size: 25px;
    margin: 10px;
}