html, body{
    height: 100%;
    width: 100%;
}

#root{
    height: 100%;
    width: 100%;
    background-color: black;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-align: center;
}

.hero-text {
  color: white;
  font-size: 3rem;
  font-style: italic;
  font-family: 'Lato', sans-serif;;
}