*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
}

html, body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: black;
    position: relative;
}

.elem{
    height: 120px;
    width: 100%;
    border-bottom: 3px solid white;
}