* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #e3e3db;
}

a, p {
    text-decoration: none; /* for our siloutte stock link */
    color: #1f1f1f;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0rem;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    backface-visibility: hidden; /* for hiding the backside of our image */
}

nav, footer {
    position:absolute;
    left: 0;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
}

nav {
    top: 0;
}

footer {
    bottom: 0;
}

.container {
    position: relative;
    width: 100vw;
    height: 100svh;
    overflow: hidden;
}

.gallery-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-style: preserve-3d; /* tells the browser to keep the element in 3D */
    perspective: 2000px; /* adds a 3D perspective from viewer's point of view */
    will-change: transform; /* tells the browser to be ready as this element will likely be transformed */
}

.gallery {
    position: relative;
    width: 600px;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: center; /* rotate the elements from center */
    will-change: transform;
}

.card{
    position: absolute;
    width: 45px;
    height: 60px;
    border-radius: 4px;
    transform-origin: center;
    will-change: transform;
    transform-style: preserve-3d;
    backface-visibility: visible; /* if the card flips around, still show the back side of it. */
    overflow: hidden; /* clips anything that overflows outside the box */
}

.title-container{
    position: fixed;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 42px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.title-container p {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 36px;
    letter-spacing: 0rem;
}

.word { /* a single word in our letter group */
    position: relative;
    display: inline-block; /* behaves like a word but can be animated or transformed */
    will-change: transform;
}